<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> AsistApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistApp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-item lines="none">
      <span
        >Ingrese la dirección de correo electrónico verificada de su cuenta de
        usuario y le enviaremos un codigo para restablecer la contraseña.</span
      >
    </ion-item>

    <ion-list>
      <ion-item lines="none">
        <ion-input
          type="text"
          labelPlacement="floating"
          label="Ingrese un Usuario valido"
          errorText="Usuario Invalido"
          ngModel
          username
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button id="present-alert" [routerLink]="['/login']" expand="block"
          >Recuperar contraseña</ion-button
        >

        <ion-alert
          trigger="present-alert"
          header="Recibido"
          message="Se ha enviado un Codigo a su correo."
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-item>
    </ion-list>
    <br />
    <div class="regreso">
      <ion-back-button
        class="btnRegreso"
        icon="arrow-back-outline"
        defaultHref="/home"
      ></ion-back-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter"
      >App desarrollada por {{developer}}</ion-title
    >
  </ion-toolbar>
</ion-footer>
