ion-toolbar {
    --background: #2F4550;
    --color: #1d1d1d;
  }

ion-title {
    text-align: center;
    color: #F4F4F9;
    font-size: medium;
    font-family: system-ui, sans-serif;
}


.regreso {
    display: flex;
    justify-content: center;
    align-items: center;
  }