<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> AsistApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistApp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-img  class="fondo_login"
    src="../../../assets/imagenes/img_login.avif" alt="libros portada">

  </ion-img>


  <div id="container">
    <ion-list>
      <ion-item lines="none">
        <ion-input [(ngModel)]="username" position="floating" placeholder=""
          >Usuario</ion-input
        >
      </ion-item>
      <ion-item lines="none">
        <ion-input
          [(ngModel)]="password"
          position="floating"
          type="password"
          value="password"
          >Contraseña</ion-input
        >
      </ion-item>



      <ion-button (click)="validateLogin()">Ingresar</ion-button>

      <br/>
      <a [routerLink]="['/rest-pass']">Restablecer contraseña</a>
      <br>
    </ion-list>


  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter">App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>
