<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> AsistApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistApp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-img
    class="fondo_login"
    src="../../../assets/imagenes/img_login.avif"
    alt="libros portada"
  >
  </ion-img>

  <div id="container">
    <ion-list>
      <ion-item class="tittleLogin" lines="none">
        <img
          src="../../../assets/imagenes/icon.png"
          alt="Icono AsistApp"
          width="50vw"
          class="icon"
        />
        <h1>Iniciar Sesión</h1>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          [(ngModel)]="username"
          label="Usuario"
          labelPlacement="floating"
          position="floating"
          placeholder="Ingrese su usuario"
          class="center-label"
        ></ion-input>
      </ion-item>
      <br />
      <ion-item lines="none" class="input-item">
        <ion-input
          [(ngModel)]="password"
          position="floating"
          [type]="isPasswordVisible ? 'text' : 'password'"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingrese su contraseña"
          class="center-label"
        ></ion-input>
        <ion-button
          fill="clear"
          (click)="togglePasswordVisibility()"
          class="visibility-button"
        >
          <ion-icon
            slot="icon-only"
            [name]="isPasswordVisible ? 'eye-off' : 'eye'"
          ></ion-icon>
        </ion-button>
      </ion-item>

      <br />
      <ion-button (click)="validateLogin()">Ingresar</ion-button>
      <br />
      <a [routerLink]="['/rest-pass']">Restablecer contraseña</a>
      <br />
      <br />
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter"
      >App desarrollada por {{developer}}</ion-title
    >
  </ion-toolbar>
</ion-footer>
