<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion Personal</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-button (click)="toggleEditMode()">
        {{ editMode ? 'Cancelar' : 'Editar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informacion Personal</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container" *ngIf="!editMode">
    <h2>Usuario: {{user}}</h2>
    <h3>Nombre: {{name}}</h3>
    <div class="regreso">
      <ion-back-button class="btnRegreso" icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
    </div>

    <h3>Informacion basica</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Direccion de correo: </label>
        <p class="right-text"> {{email}} </p>
      </ion-item>

      <ion-item lines="none">
        <label>Id Estudiante: </label>
        <p class="right-text">{{student_id}}</p>
      </ion-item>
    </ion-list>

    <h3>Informacion Adicional</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Fecha de nacimiento:</label>
        <p class="right-text">{{ birth_date | date: 'dd/MM/yyyy' }}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Sexo:</label>
        <p class="right-text">{{genre}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Ocupación:</label>
        <p class="right-text">{{occupation}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Teléfono:</label>
        <p class="right-text">{{phone}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Carrera:</label>
        <p class="right-text">{{career}}</p>
      </ion-item>
    </ion-list>
  </div>
  <!-- esto es el formulario para editar -->
  <form [formGroup]="userForm" *ngIf="editMode" (ngSubmit)="saveChanges()">
    <h3>Editar Información Básica</h3>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
    </ion-list>
    <h3>Editar Información Adicional</h3>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Sexo</ion-label>
        <ion-input type="text" formControlName="genre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
    </ion-list>
    <!-- Botones para guardar o cancelar -->
    <ion-button expand="full" type="submit" [disabled]="userForm.invalid">
      Guardar Cambios
    </ion-button>
    <ion-button expand="full" color="medium" (click)="toggleEditMode()">
      Cancelar
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>
