<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informacion Personal</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container">
    <h2>Usuario: {{user}}</h2>
    <h3>Nombre: {{name}}</h3>
    <div class="regreso">
      <ion-back-button class="btnRegreso" icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
    </div>

    <h3>Informacion basica</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Direccion de correo: </label>
        <p class="right-text"> {{email}} </p>
      </ion-item>

      <ion-item lines="none">
        <label>Id Estudiante: </label>
        <p class="right-text">{{student_id}}</p>
      </ion-item>
    </ion-list>

    <h3>Informacion Adicional</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Fecha de nacimiento:</label>
        <p class="right-text">{{ birth_date | date: 'dd/MM/yyyy' }}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Sexo:</label>
        <p class="right-text">{{genre}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Ocupación:</label>
        <p class="right-text">{{occupation}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Teléfono:</label>
        <p class="right-text">{{phone}}</p>
      </ion-item>

      <ion-item lines="none">
        <label>Carrera:</label>
        <p class="right-text">{{career}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>
