#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-toolbar {
  --background: #2f4550;
  background: #2f4550;
  --color: #f4f4f9;
  font-family: system-ui, sans-serif;
  text-align: center;
}

ion-title {
  font-size: 4vw;
}

.titleFooter {
  font-size: 3vw;
}

ion-content {
  --background: #f4f4f9;
  font-family: system-ui, sans-serif;
}

ion-list {
  background-color: #f4f4f9;
}

ion-item {
  --background: #f4f4f9;
}

ion-button {
  --background: #2f4550;
  color: #f4f4f9;
}

.regreso {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRegreso {
  color: #2f4550;
  --border-radius: 50%;
  width: 5px;
}

.square {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

h1 {
  color: #2f4550;
  text-align: center;
  font-family: system-ui, sans-serif;
}

ion-accordion-group {
  ion-accordion {
    background: #2f4550;
    color: #f4f4f9;
    font-family: system-ui, sans-serif;

    ion-item {
      --background: #2f4550;
      --color: #f4f4f9;
      font-family: system-ui, sans-serif;
    }

    div[slot="content"] {
      background: #2f4550;
      color: #f4f4f9;
      font-family: system-ui, sans-serif;
    }

    ion-card {
      background: #2f4550;
      color: #f4f4f9;
      font-family: system-ui, sans-serif;
    }
  }
}
