<ion-menu side="end" contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button class="btnMenu" expand="block" (click)="goToUserInfo()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <span class="txtMenu">Informacion Personal </span>
    </ion-button>
    <br />
    <ion-button class="btnMenu" expand="block" [routerLink]="['/clases']">
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      <span class="txtMenu">Clases Programadas</span></ion-button
    >
    <br />
    <ion-button class="btnMenu" expand="block" [routerLink]="['/historial']">
      <ion-icon slot="start" name="calendar-outline"> </ion-icon>
      <span class="txtMenu"> Historial de asistencia </span>
    </ion-button>
    <br />
    <ion-button (click)="logOut()" expand="block">
      <ion-icon slot="start" name="log-out"></ion-icon>
      <span class="txtMenu"> Log Out </span>
    </ion-button>

    <div class="clima" *ngIf="weatherData">
      <h2>Clima en Santiago</h2>
      <p>
        Temperatura: {{ weatherData.current_condition[0].temp_C }} °C
        <ion-icon
          [name]="getWeatherIcon(weatherData.current_condition[0].weatherDesc[0].value)"
        ></ion-icon>
      </p>

    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> </ion-content>
</div>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> AsistApp </ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>Bienvenido {{user}}</h1>
    <br />
    <ion-button (click)="leerQr()">
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Escanear QR
    </ion-button>
    <br />
    <br />
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter"
      >App desarrollada por {{developer}}</ion-title
    >
  </ion-toolbar>
</ion-footer>
