<ion-menu side="end" contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block">Informacion Personal</ion-button>
    <br />
    <ion-button expand="block">Clases Programadas</ion-button>
    <br />
    <ion-button expand="block">Historial de asistencia</ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> </ion-content>
</div>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> AsistApp </ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AsistApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Bienvenido {{user}}</h1>
    <br>
    <ion-button>
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Escanear QR
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
