<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clases</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="square">
    <h1>Asignaturas</h1>
    <div class="regreso">
      <ion-back-button class="btnRegreso" icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
    </div>
    <br>
  
    <ion-accordion-group>
      <!-- Itera sobre los días de la semana -->
      <ion-accordion *ngFor="let dia of dias" [value]="dia">
        <ion-item slot="header" lines="none">
          <ion-label>{{ dia }}</ion-label>
        </ion-item>
        <div slot="content">
          <!-- Filtra las asignaturas solo para el día actual -->
          <ion-card *ngFor="let asignatura of asignaturasPorDia[dia]">
            <ion-card-header>
              <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ asignatura.profesor }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>{{ formatHora(asignatura.hora) }}</ion-card-content>
          </ion-card>

          <!-- Si no hay asignaturas para el día, muestra un mensaje -->
          <div *ngIf="asignaturasPorDia[dia] && asignaturasPorDia[dia].length === 0">
            <p>No tienes clases hoy.</p>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter">App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>