<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Asistencia</h1>
  <br />

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" lines="none">
        <ion-label>Matemática</ion-label>
      </ion-item>
      <p class="ion-padding" slot="content">Nro clases registradas 5</p>
      <p class="ion-padding" slot="content">Asistencia 2</p>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" lines="none">
        <ion-label>Programación</ion-label>
      </ion-item>
      <p class="ion-padding" slot="content">Nro clases registradas 5</p>
      <p class="ion-padding" slot="content">Asistencia 4</p>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header" lines="none">
        <ion-label>Ética para el Trabajo</ion-label>
      </ion-item>
      <p class="ion-padding" slot="content">Nro clases registradas 5</p>
      <p class="ion-padding" slot="content">Asistencia 4</p>
    </ion-accordion>

    <ion-accordion value="four">
      <ion-item slot="header" lines="none">
        <ion-label>Diseño y requesito de software</ion-label>
      </ion-item>
      <p class="ion-padding" slot="content">Nro clases registradas: 5</p>
      <p class="ion-padding" slot="content">Asistencia: 3</p>
    </ion-accordion>
  </ion-accordion-group>

  <ion-back-button
    class="btnRegreso"
    icon="arrow-back-outline"
    defaultHref="/home"
  ></ion-back-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>
