<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacion Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informacion Personal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Usuario: {{user}}</h2>
    <div class="regreso">
      <ion-back-button class="btnRegreso" icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
    </div>

    <h3>Informacion basica</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Direccion de correo: </label>
        <p class="right-text">admin&#64;duocuc.com</p>
      </ion-item>

      <ion-item lines="none">
        <label>Id Estudiante: </label>
        <p class="right-text">207688648</p>
      </ion-item>
    </ion-list>

    <h3>Informacion Adicional</h3>
    <ion-list>
      <ion-item lines="none">
        <label>Fecha de nacimiento:</label>
        <p class="right-text">02 de marzo del 2000</p>
      </ion-item>

      <ion-item lines="none">
        <label>Sexo:</label>
        <p class="right-text">Masculino</p>
      </ion-item>

      <ion-item lines="none">
        <label>Ocupación:</label>
        <p class="right-text">Estudiante</p>
      </ion-item>

      <ion-item lines="none">
        <label>Teléfono:</label>
        <p class="right-text">+56 9 5896 6368</p>
      </ion-item>

      <ion-item lines="none">
        <label>Carrera:</label>
        <p class="right-text">Ingenieria</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>