<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Asistencia</h1>
  <div class="regreso">
    <ion-back-button class="btnRegreso" icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
  </div>
  <br />

  <ion-accordion-group>
    <ion-accordion *ngFor="let asignatura of asignaturas">
      <ion-item slot="header" lines="none">
        <ion-label>{{ asignatura.nombre }}</ion-label>
      </ion-item>
      <p class="ion-padding" slot="content">
        Nro clases registradas: {{ totalClasesRegistradas }}
      </p>
      <p class="ion-padding" slot="content">
        Asistencia: {{ totalClasesAsistidas }}
      </p>
      <p class="ion-padding" slot="content">
        Clases faltadas: {{ totalClasesFaltantes }}
      </p>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="titleFooter">App desarrollada por {{developer}}</ion-title>
  </ion-toolbar>
</ion-footer>
